body {
  height: 0px;
}
.card-car-info {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  .center-image {
    opacity: 0;
    transform: scale(0.95);
    animation: fadeInScale 1s ease forwards; /* Utilise l'animation fadeInScale avec une durée de 1 seconde */
    transition: opacity 0.5s ease-in-out; /* Transition douce sur l'opacité */
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
