<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <p>
      <span>&copy; 2024 Gran Cars</span><br>
      <span class="smaller-text">Code with <i class="fa-solid fa-heart"></i> by Angelica, Aurélien, Petya and Guillaume </span>
    </p>
  </div>
</footer>
