<body class="background-page">
<div class="banner common-bg" style="background-image: url('https://res.cloudinary.com/dfwstcrkv/image/upload/v1718711706/grandgarage_vid5mb.jpg')">
  <div class="mx-5">
    <div class="text-center">
      <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719307291/Logo_GC_nz4m2q.webp" alt="Gran Cars">
    </div>
      <h1> Gran Cars </h1>
      <p>Elevate your driving experience! Luxury on four wheels!</p>
      <div class="buttons">
      <%#= link_to "Login", cars_path, class: "btn btn-secondary" if !user_signed_in? %>
      <div class="mb-3">
      <%= link_to "Find your dream car", cars_path, class: "btn btn-secondary" %>
      </div>
      <%# <div>
      <%= link_to "Rent your car", new_car_path, class: "btn btn-secondary" %>
      <%# </div> %>
      <%#= link_to "Bookings", bookings_path(@bookings), class: "btn btn-secondary" if user_signed_in? %>
      </div>
  </div>
</div>


  <div class="grid-container">

      <div class="card d-flex justify-content-center align-items-center bg-dark bg-grandient">
        <div class="grid-item">
          <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719319753/Lamborghini-Logo.svg_ypxvew.png" alt="Lamborghini">
        </div>
      </div>

      <div class="card d-flex justify-content-center align-items-center bg-dark bg-grandient">
        <div class="grid-item">
          <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719325123/porsche-logo-16_kmagzy.png" alt="Porsche">
        </div>
      </div>

      <div class="card d-flex justify-content-center align-items-center bg-dark bg-grandient">
        <div class="grid-item">
          <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719319918/Logo-Pagani_rbklyq.png" alt="Pagani">
        </div>
      </div>

      <div class="card d-flex justify-content-center align-items-center bg-dark bg-grandient">
        <div class="grid-item">
          <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719325653/pngwing.com_q2piji.png" alt="Koenigsegg">
        </div>
      </div>

      <div class="card d-flex justify-content-center align-items-center bg-dark bg-grandient">
        <div class="grid-item">
          <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719323979/Rolls-Royce-logo_vjzmeo.png" alt="Rolls-Royce">
        </div>
      </div>

      <div class="card d-flex justify-content-center align-items-center">
        <div class="grid-item">
          <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719325932/pngegg-2_gn0xdu.png" alt="Maserati">
        </div>
      </div>

      <div class="card d-flex justify-content-center align-items-center bg-dark bg-grandient">
        <div class="grid-item">
          <img src="https://res.cloudinary.com/dfwstcrkv/image/upload/v1719326106/ferrari-2_uuz9j9.png" alt="Ferrari">
        </div>
      </div>
  </div>
</body>


<!--Quand je suis sur la home, il n'y a pas besoin d'avoir Home au navbar-->
<!--Mettre le logo sur le titre -->
<!--Tag line le mettre plus grand -->
<!--Mettre -->
