.container-cars {
  background-color: #e2dcdc;
  margin-bottom: 50px;
}

.card-cars {
  margin: 3em;
}

.card-car-info {
  margin-bottom: 75px;
}

.title-cars {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 50px;
}

.card-car-details {
  background-color: rgb(25, 22, 7);
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  h1 {
  font-size: 50px;
  color: azure;
  font-weight: 600;
  margin-bottom: 10px;
  }

  h4 {
    font-size: 30px;
    color: azure;
    margin-bottom: 10px;
  }

  img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  }
}

.card-car-details .card-car-pricing {
  color: azure;
}
