.footer {
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  padding: 5px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;

  p {
    margin: 0; // Supprime les marges par défaut du paragraphe
  }

  .smaller-text {
    font-size: 80%;
  }

  .fa-heart {
    color: red; // Couleur rouge pour l'icône
  }
}
