.navbar-lewagon {
  // position: fixed;
  opacity: 1;
  margin-bottom: 0px;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1f242d;
  transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
}
.navbar-lewagon:hover {
  opacity: 1;
}

.nav-link {
  color: rgb(151, 145, 145);
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease; /* Transition pour la couleur de texte */
}

.nav-link:hover {
  color: rgb(218, 211, 211);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
