body {
  background-color: rgb(17, 16, 26);
  //background-image: url('https://res.cloudinary.com/dfwstcrkv/image/upload/v1718711706/grandgarage_vid5mb.jpg');
}

.container {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
  0 0 20px rgba(255, 255, 255, 0.7),
  0 0 30px rgba(255, 255, 255, 0.7),
  0 0 40px rgba(255, 255, 255, 0.7);
  max-width: 500px;
  max-height: 490px;
}

.btn {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
  0 0 10px rgba(255, 255, 255, 0.5),
  0 0 15px rgba(255, 255, 255, 0.5);
}

.form-control {
  background-color: rgba(192, 192, 192, 0.653);
}
